div.stats-row, div.stats-entry-row, div.stats-header-row {
  margin: 0; }

div.stats-entry-row {
  background-color: #fff;
  padding-top: 0.4em;
  padding-bottom: 0.4em; }

div.stats-header-row {
  padding-top: 0.4em;
  padding-bottom: 0.4em; }

div.stats-title-row {
  background-color: #ccc;
  padding-bottom: 0.25em;
  font-weight: bold;
  border-bottom: 1px solid #000; }
