<!doctype html>
<html lang="en" ng-app="footyStats" ng-controller="MainCtrl as mainCtrl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
  <title>Footy Stats</title>
  <link rel="stylesheet" href="css/src/app.css"/>
  <link rel="stylesheet" href="../bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css"/>
  <link rel="stylesheet" href="../bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css"/>
</head>
<body>

  <!-- Sidebars -->

  <div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar">
    <h1 class="app-name">Menu</h1>

    <div class="scrollable">
      <div class="scrollable-content">
        <div class="list-group" toggle="off" bubble target="mainSidebar">
          <a class="list-group-item" href="#/entry">Entry <i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/viewer">Viewer <i class="fa fa-chevron-right pull-right"></i></a>
        </div>

      </div>
    </div>
  </div>

  <div class="app">
    <div class="navbar navbar-app navbar-absolute-top">
      <div class="navbar-brand navbar-brand-center" yield-to="title">
        <span>Footy Stats</span>
      </div>

      <div class="btn-group pull-left">
        <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
          <i class="fa fa-bars"></i> Menu
        </div>
      </div>

      <div ng-show="mainCtrl.showClearAllButton" class="btn-group pull-right">
        <a ng-href="#" class="btn btn-navbar" ng-click="mainCtrl.remove()">
          <i class="fa fa-trash-o fa-navbar"></i>
          Clear All
        </a>
      </div>
    </div>

    <div class="navbar navbar-app navbar-absolute-bottom">
      <div class="btn-group justified">
        <a href="#/settings" class="btn btn-navbar">
          <i class="fa fa-cogs fa-navbar"></i>
          Settings
        </a>
      </div>
    </div>

    <div class="app-body">
      <div ng-view class="app-content"></div>
    </div>
  </div>

 <!--TODO: Bundle and minify these js and above css files for production use-->
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/angular-local-storage/angular-local-storage.js"></script>
  <script src="../bower_components/mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>
  <script src="../bower_components/mobile-angular-ui/dist/js/mobile-angular-ui-touch-fastclick.min.js"></script>
  <script src="../bower_components/mobile-angular-ui/dist/js/mobile-angular-ui-scrollable-overthrow.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services/statsDataService.js"></script>
  <script src="js/controllers/mainController.js"></script>
  <script src="js/controllers/viewerController.js"></script>
  <script src="js/controllers/entryController.js"></script>
  <script src="js/controllers/settingsController.js"></script>
</body>
</html>
